@import url("https://fonts.googleapis.com/css?family=Finger+Paint");

.main-container {
  height: 100vh;
  display: flex;
  justify-content: space-between;
}

.container::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.container {
  display: flex;
  overflow: scroll;
  scroll-behavior: smooth;
}

.container.y {
  flex-flow: column nowrap;
}

.y.mandatory-scroll-snapping {
  scroll-snap-type: y mandatory;
}

.container > section {
  text-align: center;
  scroll-snap-align: center;
  flex: none;
}

.y.container > section {
  width: 100vw;
  height: 100%;
}

.container > section:nth-child(even) {
  background-color: #87ea87;
}

.container > section:nth-child(odd) {
  background-color: #87ccea;
}

.image {
  width: 30%;
  height: "auto";
}

.navbar {
  position: absolute;
  background-color: azure;
}
